Hello, world!
<form method="get" action="/">
  <input type="text" name="query">Type yo name</input>
  <input type="submit" />
</form>

<% if @photos %>
  <h2>Last 6 images:</h2>
  <% @photos.each do |photo| %>
    <img src="<%=photo.images.standard_resolution.url %>" />
  <% end %>
<% end %>